<div class="row">
  <form class="col s12"  [formGroup]="registerForm"  (ngSubmit)="register(registerForm.value)">
    <div class="row">
      <div class="input-field col s4">
        <input placeholder="Prénom" name="firstname" type="text" formControlName="firstname" [ngClass]="{ 'red-text': submitted && f.firstname.errors }">
        <div *ngIf="submitted && f.firstname.errors" class="invalid-feedback">
          <div *ngIf="f.firstname.errors.required" style="color: red">Le champ prénom est obligatoire</div>
        </div>
      </div>
      <div class="input-field col s4">
        <input placeholder="Nom" name="lastname" type="text" formControlName="lastname" [ngClass]="{ 'red-text': submitted && f.lastname.errors }">
        <div *ngIf="submitted && f.lastname.errors" class="invalid-feedback">
          <div *ngIf="f.lastname.errors.required" style="color: red">Le champ nom est obligatoire</div>
        </div>
      </div>
      <div class="input-field col s4">
        <input placeholder="Pseudo" name="username" type="text" formControlName="username" [ngClass]="{ 'red-text': submitted && f.username.errors }">
        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
          <div *ngIf="f.username.errors.required" style="color: red">Le champ pseudo est obligatoire</div>
        </div>
      </div>
      <div class="input-field col s4">
        <input placeholder="Email" name="email" type="text" formControlName="email" [ngClass]="{ 'red-text': submitted && f.email.errors }" >
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
          <div *ngIf="f.email.errors.required" style="color: red">Le champ email est obligatoire</div>
          <div *ngIf="f.email.errors.email" style="color: red">Vous devez saisir une adresse mail valide</div>
        </div>
      </div>
      <div class="input-field col s4">
        <input placeholder="Password" name="password" type="password" formControlName="password"  [ngClass]="{ 'red-text': submitted && f.password.errors }">
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
          <div *ngIf="f.password.errors.required" style="color: red">Le champ mot de passe est obligatoire</div>
          <div *ngIf="f.password.errors.minlength" style="color: red">Le mot de passe doit comporter au moins 8 caractères</div>
        </div>
      </div>
      <div class="input-field col s4">
        <input placeholder="Confirmer password" name="confirmPassword" type="password" formControlName="confirmPassword" [ngClass]="{ 'red-text': submitted && f.confirmPassword.errors }">
        <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
          <div *ngIf="f.confirmPassword.errors.required" style="color: red">Veuillez confirmer le mot de passe</div>
          <div *ngIf="f.confirmPassword.errors.mustMatch" style="color: red">Les mots de passe doivent correspondre</div>
        </div>
      </div>
    </div>
    <div class="row">
      <button  class="waves-effect waves-light btn col" id="btn" type="submit">S'inscrire</button>
      <a (click)="goToLogin()" class="col">Déjà un compte? Connexion</a>
    </div>
  </form>
</div>
